* {
    text-decoration: none;
    list-style-type: none;
}

.screen {
    display: flex;
    flex-direction: row;
}

aside {
    padding: 1em;
    margin-right: 1vw;
}

li {
    padding: 1vh;
}

.container {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    aside {
        display: none;
    }
}